{
    "printWidth": 150,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComa": "es5",
    "bracketSpacing": true,
    "arrowPragma": "always",
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "endOfLine": "auto"
}